In [3]:
import os
DIR = os.path.abspath('')
DATA = os.path.join(DIR, '../Data')
PLOTS = os.path.join(DIR, '../Plots')

sns.set_style('whitegrid')

def to_degree(min):
    return min/60

data = pd.read_csv(os.path.join(DATA, 'aufg2_3.csv'), comment='#', engine='python')
data['min_1[min]'][:2] -= 30
data['min_2[min]'][:2] -= 30
data['deg_1[deg]'][:2] -= 360
data['deg_2[deg]'][:2] -= 360
data['deg1'] = data['deg_1[deg]'] + to_degree(data['min_1[min]'])
data['deg2'] = data['deg_2[deg]'] + to_degree(data['min_2[min]'])
data['delta'] = abs(to_degree(data['min_1[min]']) - to_degree(data['min_2[min]']))
data

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,deg_1[deg],min_1[min],deg_2[deg],min_2[min],deg1,deg2,delta
0,-19.5,-5,-19.5,-12,-19.583333,-19.700000,0.116667
1,-44.5,-18,-44.5,-13,-44.800000,-44.716667,0.083333
2,42.5,3,42.5,9,42.550000,42.650000,0.100000
3,22.0,11,22.0,16,22.183333,22.266667,0.083333

In [14]:
delta_lambda = np.mean(data['delta'][:2])
n = 2
g = 1/600
data['lambda1'] = g/n * np.sin(data['deg1']) * 1000000
data['lambda2'] = g/n * np.sin(data['deg2']) * 1000000
data

,deg_1[deg],min_1[min],deg_2[deg],min_2[min],deg1,deg2,delta,lambda1,lambda2
0,-19.5,-5,-19.5,-12,-19.583333,-19.700000,0.116667,-558.066418,-626.311179
1,-44.5,-18,-44.5,-13,-44.800000,-44.716667,0.083333,-607.980614,-558.432759
2,42.5,3,42.5,9,42.550000,42.650000,0.100000,-825.353592,-809.744692
3,22.0,11,22.0,16,22.183333,22.266667,0.083333,-159.169904,-226.704604